.control-group
  = f.input :markup, as: :text
  #editor

:coffeescript

  $ ->

    editor = ace.edit('editor')
    session = editor.getSession()

    $markup = $('#swatch_markup')

    editor.setBehavioursEnabled(false)
    editor.setTheme('ace/theme/chrome')
    session.setMode('ace/mode/css')
    session.setTabSize(2)
    session.setUseWorker(false)

    session.setValue($markup.val())

    session.on 'change', (e) ->
      if e.data.text == ';'
        console.log(e)
        console.log(session.getValue())

    $('form').submit (e) ->
      $markup.val(session.getValue())
      e

    editor.moveCursorToPosition(row: 1, column: 2)
