%ul.nav.nav-tabs
  %li.active= link_to 'CSS', '#tab_css', 'data-toggle' => 'tab'
  %li= link_to 'SCSS <span class="ampersand">&amp;</span> Compass'.html_safe, '#tab_scss', 'data-toggle' => 'tab'
  %li= link_to 'Stylus <span class="ampersand">&amp;</span> Nib'.html_safe, '#tab_stylus', 'data-toggle' => 'tab'
