.editor-wrapper
  = render 'editor_tabs'
  .control-group
    .tab-content
      #tab_css.tab-pane.active= f.input :css, as: :text, label: false
      #tab_scss.tab-pane= f.input :scss, as: :text, label: false
      #tab_stylus.tab-pane= f.input :stylus, as: :text, label: false
    #editor
