.editor-wrapper
  %ul.nav.nav-tabs
    %li.active= link_to 'CSS', '#', 'data-toggle' => 'tab'
    %li= link_to 'SCSS', '#', 'data-toggle' => 'tab'
    %li= link_to 'Stylus', '#', 'data-toggle' => 'tab'
  .control-group
     = f.input :markup, as: :text, label: false
    #editor
