.editor-wrapper
  %ul.nav.nav-tabs
    %li.active= link_to 'CSS', '#', 'data-toggle' => 'tab'
    %li= link_to 'SCSS', '#', 'data-toggle' => 'tab'
    %li= link_to 'Stylus', '#', 'data-toggle' => 'tab'
  .control-group
    = f.input :markup, as: :text, label: false, input_html: { value: f.object.markup[:css] }
    #editor

:coffeescript

  $ ->

    editor = ace.edit('editor')
    session = editor.getSession()

    $markup = $('#swatch_markup')

    editor.setBehavioursEnabled(false)
    editor.setTheme('ace/theme/chrome')
    session.setMode('ace/mode/css')
    session.setTabSize(2)
    session.setUseWorker(false)

    session.setValue($markup.val())

    iframe = $('iframe.swatch-frame')[0]
    iframeDoc = iframe.contentDocument || iframe.contentWindow.document
    iframeDoc.body.setAttribute('tabindex', 0);

    previewHTML = () ->
      "<h3>hey</h3>"

    session.on 'change', (e) ->
      if e.data.text == ';'
        console.log(e)
        console.log(session.getValue())
        iframeDoc.body.innerHTML = previewHTML()

    $('form').submit (e) ->
      $markup.val(session.getValue())
      e

    editor.moveCursorToPosition(row: 1, column: 2)
