%ul.nav.nav-tabs
  %li.active= link_to 'CSS', '#tab_css', 'data-toggle' => 'tab'
  %li= link_to 'SCSS w/ Compass', '#tab_scss', 'data-toggle' => 'tab'
  %li= link_to 'Stylus', '#tab_stylus', 'data-toggle' => 'tab'
