.swatch-container
  %iframe.swatch-frame{'data-css' => swatch.css}
  - if swatch.persisted?
    = link_to "<span>#{swatch.name}</span>".html_safe, swatch_path(swatch), class: 'swatch-link'
  - else
    = link_to '', '#', class: 'swatch-link'