%footer.attribution
  %p
    by
    %strong <a href="http://harrisnovick.com">Harris Novick</a>
  .links
    <a href="http://harrisnovick.com"><span class="eicon-home-alt"></span></a>
    <a href="http://github.com/lightyrs"><span class="eicon-github-text"></span></a>
    <a href="http://stackoverflow.com/users/111363/lightyrs"><span class="eicon-stackoverflow"></span></a>
    <a href="http://www.linkedin.com/in/harrisnovick/"><span class="eicon-linkedin"></span></a>
