.facebook.share-button
  .fb-like{"data-action" => "recommend", "data-font" => "lucida grande", "data-href" => "http://sw4tch.com", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "true", "data-width" => "450"}
