.session
  - if current_user
    .user.well
      = render 'users/user', user: current_user
      = link_to 'Sign Out', logout_path, class: 'btn-small btn btn-block'
  - else
    = link_to 'Sign In with GitHub', sign_in_path('github'), class: 'btn btn-primary'
