.session
  - if current_user
    .user.well
      = render 'users/user', user: current_user
      = link_to 'Sign Out', logout_path, class: 'btn-small btn btn-block'
  - else
    = link_to 'Sign In with GitHub', sign_in_path('github'), class: 'btn btn-primary'
  .welcome-text
    %p.lead
      Create swatches of simple, reusable styles with <strong>CSS</strong>, <strong>SCSS</strong>&nbsp;<i class="ampersand">&</i>&nbsp;<strong>Compass</strong>, or <strong>Stylus</strong>&nbsp;<i class="ampersand">&</i>&nbsp;<strong>Nib</strong>.
    %p.lead.sub-lead <i class="icon-github"></i>&nbsp; Publish swatches as gists.
    %p.lead.sub-lead <i class="icon-shuffle"></i>&nbsp; Fork community swatches.
