.session
  - if current_user
    .user.well
      = render 'users/user', user: current_user
      = link_to 'Sign Out', logout_path, class: 'btn-small btn btn-block'
  - else
    = render 'home/welcome'
