- if current_user
  .user.well
    = render 'users/user', user: current_user
    %br
    %center= link_to 'Sign Out', logout_path, class: 'btn-block btn'
- else
  = link_to 'Sign In with GitHub', sign_in_path('github'), class: 'btn btn-primary'
