@font-face {
  font-family: 'Elusive-Icons';
  src:font-url('elusive-icons/Elusive-Icons.eot');
  src:font-url('elusive-icons/Elusive-Icons.eot?#iefix') format('embedded-opentype'),
    font-url('elusive-icons/Elusive-Icons.svg#Elusive-Icons') format('svg'),
    font-url('elusive-icons/Elusive-Icons.woff') format('woff'),
    font-url('elusive-icons/Elusive-Icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[data-eicon]:before {
  font-family: 'Elusive-Icons';
  content: attr(data-eicon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="eicon-"]:before,
[class*=" eicon-"]:before {
  font-family: 'Elusive-Icons';
  font-weight: normal;
  font-style: normal;
  speak: none;
  line-height: 1;
  display: inline-block;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
}

a [class^="eicon-"],
a [class*=" eicon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.eicon-large:before {
  vertical-align: middle;
  font-size: 1.33em;
}

.btn [class^="eicon-"],
.btn [class*=" eicon-"],
.nav-tabs [class^="eicon-"],
.nav-tabs [class*=" eicon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
}

li [class^="eicon-"],
li [class*=" eicon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

li .eicon-large:before,
li .eicon-large:before {
  width: 1.875em;
}

ul.eicons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em;
}

ul.eicons li [class^="eicon-"],
ul.eicons li [class*=" eicon-"] {
  width: .8em;
}

ul.eicons li .eicon-large:before,
ul.eicons li .eicon-large:before {
  vertical-align: initial;
}

.btn-large [class^="eicon-"], .btn-large [class*=" eicon-"]{
  margin-top: 0;
}

.eicon-briefcase:before {
  content: "\e10d";
}
.eicon-bullhorn:before {
  content: "\e10c";
}
.eicon-calendar:before {
  content: "\e10b";
}
.eicon-calendar-sign:before {
  content: "\e10a";
}
.eicon-cog:before {
  content: "\e109";
}
.eicon-cog-alt:before {
  content: "\e108";
}
.eicon-cogs:before {
  content: "\e107";
}
.eicon-comment:before {
  content: "\e106";
}
.eicon-error:before {
  content: "\e105";
}
.eicon-error-alt:before {
  content: "\e104";
}
.eicon-exclamation-sign:before {
  content: "\e103";
}
.eicon-eye-close:before {
  content: "\e102";
}
.eicon-flag-alt:before {
  content: "\e101";
}
.eicon-flickr:before {
  content: "\e100";
}
.eicon-folder:before {
  content: "\e0ff";
}
.eicon-folder-close:before {
  content: "\e0fe";
}
.eicon-globe-alt:before {
  content: "\e0fd";
}
.eicon-googleplus:before {
  content: "\e0fc";
}
.eicon-graph:before {
  content: "\e0fb";
}
.eicon-graph-alt:before {
  content: "\e0fa";
}
.eicon-idea-alt:before {
  content: "\e0f9";
}
.eicon-inbox:before {
  content: "\e0f8";
}
.eicon-inbox-alt:before {
  content: "\e0f7";
}
.eicon-inbox-box:before {
  content: "\e0f6";
}
.eicon-book:before {
  content: "\e0f5";
}
.eicon-bookmark:before {
  content: "\e0f4";
}
.eicon-bookmark-empty:before {
  content: "\e0f3";
}
.eicon-braille:before {
  content: "\e0f2";
}
.eicon-circle-arrow-right:before {
  content: "\e0f1";
}
.eicon-circle-arrow-up:before {
  content: "\e0f0";
}
.eicon-cloud:before {
  content: "\e0ef";
}
.eicon-cloud-alt:before {
  content: "\e0ee";
}
.eicon-edit:before {
  content: "\e0ed";
}
.eicon-eject:before {
  content: "\e0ec";
}
.eicon-envelope:before {
  content: "\e0eb";
}
.eicon-envelope-alt:before {
  content: "\e0ea";
}
.eicon-film:before {
  content: "\e0e9";
}
.eicon-filter:before {
  content: "\e0e8";
}
.eicon-fire:before {
  content: "\e0e7";
}
.eicon-flag:before {
  content: "\e0e6";
}
.eicon-github-text:before {
  content: "\e0e5";
}
.eicon-glass:before {
  content: "\e0e4";
}
.eicon-glasses:before {
  content: "\e0e3";
}
.eicon-globe:before {
  content: "\e0e2";
}
.eicon-heart-empty:before {
  content: "\e0e1";
}
.eicon-home:before {
  content: "\e0e0";
}
.eicon-home-alt:before {
  content: "\e0df";
}
.eicon-idea:before {
  content: "\e0de";
}
.eicon-address-book:before {
  content: "\e0dd";
}
.eicon-address-book-alt:before {
  content: "\e0dc";
}
.eicon-adjust:before {
  content: "\e0db";
}
.eicon-adult:before {
  content: "\e0da";
}
.eicon-align-center:before {
  content: "\e0d9";
}
.eicon-align-justify:before {
  content: "\e0d8";
}
.eicon-align-left:before {
  content: "\e0d7";
}
.eicon-align-right:before {
  content: "\e0d6";
}
.eicon-arrow-down:before {
  content: "\e0d5";
}
.eicon-arrow-left:before {
  content: "\e0d4";
}
.eicon-barcode:before {
  content: "\e0d3";
}
.eicon-behance:before {
  content: "\e0d2";
}
.eicon-bell:before {
  content: "\e0d1";
}
.eicon-blind:before {
  content: "\e0d0";
}
.eicon-blogger:before {
  content: "\e0cf";
}
.eicon-bold:before {
  content: "\e0ce";
}
.eicon-chevron-left:before {
  content: "\e0cd";
}
.eicon-chevron-right:before {
  content: "\e0cc";
}
.eicon-chevron-up:before {
  content: "\e0cb";
}
.eicon-child:before {
  content: "\e0ca";
}
.eicon-circle-arrow-down:before {
  content: "\e0c9";
}
.eicon-circle-arrow-left:before {
  content: "\e0c8";
}
.eicon-delicious:before {
  content: "\e0c7";
}
.eicon-deviantart:before {
  content: "\e0c6";
}
.eicon-digg:before {
  content: "\e0c5";
}
.eicon-download:before {
  content: "\e0c4";
}
.eicon-download-alt:before {
  content: "\e0c3";
}
.eicon-dribble:before {
  content: "\e0c2";
}
.eicon-file:before {
  content: "\e0c1";
}
.eicon-file-alt:before {
  content: "\e0c0";
}
.eicon-file-edit:before {
  content: "\e0bf";
}
.eicon-file-edit-alt:before {
  content: "\e0be";
}
.eicon-file-new:before {
  content: "\e0bd";
}
.eicon-file-new-alt:before {
  content: "\e0bc";
}
.eicon-foursquare:before {
  content: "\e0bb";
}
.eicon-friendfeed:before {
  content: "\e0ba";
}
.eicon-friendfeed-rect:before {
  content: "\e0b9";
}
.eicon-fullscreen:before {
  content: "\e0b8";
}
.eicon-gift:before {
  content: "\e0b7";
}
.eicon-github:before {
  content: "\e0b6";
}
.eicon-hand-up:before {
  content: "\e0b5";
}
.eicon-hdd:before {
  content: "\e0b4";
}
.eicon-headphones:before {
  content: "\e0b3";
}
.eicon-hearing-impaired:before {
  content: "\e0b2";
}
.eicon-heart:before {
  content: "\e0b1";
}
.eicon-heart-alt:before {
  content: "\e0b0";
}
.eicon-arrow-right:before {
  content: "\e0af";
}
.eicon-arrow-up:before {
  content: "\e0ae";
}
.eicon-asl:before {
  content: "\e0ad";
}
.eicon-asterisk:before {
  content: "\e0ac";
}
.eicon-backward:before {
  content: "\e0ab";
}
.eicon-ban-circle:before {
  content: "\e0aa";
}
.eicon-camera:before {
  content: "\e0a9";
}
.eicon-cc:before {
  content: "\e0a8";
}
.eicon-certificate:before {
  content: "\e0a7";
}
.eicon-check:before {
  content: "\e0a6";
}
.eicon-check-empty:before {
  content: "\e0a5";
}
.eicon-chevron-down:before {
  content: "\e0a4";
}
.eicon-comment-alt:before {
  content: "\e0a3";
}
.eicon-compass:before {
  content: "\e0a2";
}
.eicon-compass-alt:before {
  content: "\e0a1";
}
.eicon-credit-card:before {
  content: "\e0a0";
}
.eicon-css:before {
  content: "\e09f";
}
.eicon-dashboard:before {
  content: "\e09e";
}
.eicon-eye-open:before {
  content: "\e09d";
}
.eicon-facebook:before {
  content: "\e09c";
}
.eicon-facetime-video:before {
  content: "\e09b";
}
.eicon-fast-backward:before {
  content: "\e09a";
}
.eicon-fast-forward:before {
  content: "\e099";
}
.eicon-female:before {
  content: "\e098";
}
.eicon-folder-open:before {
  content: "\e097";
}
.eicon-folder-sign:before {
  content: "\e096";
}
.eicon-font:before {
  content: "\e095";
}
.eicon-fontsize:before {
  content: "\e094";
}
.eicon-forward:before {
  content: "\e093";
}
.eicon-forward-alt:before {
  content: "\e092";
}
.eicon-group:before {
  content: "\e091";
}
.eicon-group-alt:before {
  content: "\e090";
}
.eicon-guidedog:before {
  content: "\e08f";
}
.eicon-hand-down:before {
  content: "\e08e";
}
.eicon-hand-left:before {
  content: "\e08d";
}
.eicon-hand-right:before {
  content: "\e08c";
}
.eicon-indent-left:before {
  content: "\e08b";
}
.eicon-indent-right:before {
  content: "\e08a";
}
.eicon-info-sign:before {
  content: "\e089";
}
.eicon-instagram:before {
  content: "\e088";
}
.eicon-iphone-home:before {
  content: "\e087";
}
.eicon-italic:before {
  content: "\e086";
}
.eicon-key:before {
  content: "\e085";
}
.eicon-laptop:before {
  content: "\e084";
}
.eicon-laptop-alt:before {
  content: "\e083";
}
.eicon-leaf:before {
  content: "\e082";
}
.eicon-linkedin:before {
  content: "\e081";
}
.eicon-list:before {
  content: "\e080";
}
.eicon-list-alt:before {
  content: "\e07f";
}
.eicon-lock:before {
  content: "\e07e";
}
.eicon-lock-alt:before {
  content: "\e07d";
}
.eicon-magnet:before {
  content: "\e07c";
}
.eicon-male:before {
  content: "\e07b";
}
.eicon-map-marker:before {
  content: "\e07a";
}
.eicon-map-marker-alt:before {
  content: "\e079";
}
.eicon-mic:before {
  content: "\e078";
}
.eicon-mic-alt:before {
  content: "\e077";
}
.eicon-minus:before {
  content: "\e076";
}
.eicon-minus-sign:before {
  content: "\e075";
}
.eicon-move:before {
  content: "\e074";
}
.eicon-music:before {
  content: "\e073";
}
.eicon-network:before {
  content: "\e072";
}
.eicon-off:before {
  content: "\e071";
}
.eicon-ok:before {
  content: "\e070";
}
.eicon-ok-circle:before {
  content: "\e06f";
}
.eicon-ok-sign:before {
  content: "\e06e";
}
.eicon-paper-clip:before {
  content: "\e06d";
}
.eicon-paper-clip-alt:before {
  content: "\e06c";
}
.eicon-path:before {
  content: "\e06b";
}
.eicon-pause:before {
  content: "\e06a";
}
.eicon-pause-alt:before {
  content: "\e069";
}
.eicon-pencil:before {
  content: "\e068";
}
.eicon-pencil-alt:before {
  content: "\e067";
}
.eicon-person:before {
  content: "\e066";
}
.eicon-phone:before {
  content: "\e065";
}
.eicon-phone-alt:before {
  content: "\e064";
}
.eicon-photo:before {
  content: "\e063";
}
.eicon-photo-alt:before {
  content: "\e062";
}
.eicon-picasa:before {
  content: "\e061";
}
.eicon-picture:before {
  content: "\e060";
}
.eicon-pinterest:before {
  content: "\e05f";
}
.eicon-plane:before {
  content: "\e05e";
}
.eicon-play:before {
  content: "\e05d";
}
.eicon-play-alt:before {
  content: "\e05c";
}
.eicon-play-circle:before {
  content: "\e05b";
}
.eicon-plus:before {
  content: "\e05a";
}
.eicon-plus-sign:before {
  content: "\e059";
}
.eicon-print:before {
  content: "\e058";
}
.eicon-qrcode:before {
  content: "\e057";
}
.eicon-question:before {
  content: "\e056";
}
.eicon-question-sign:before {
  content: "\e055";
}
.eicon-quotes:before {
  content: "\e054";
}
.eicon-quotes-alt:before {
  content: "\e053";
}
.eicon-shuffle:before {
  content: "\e052";
}
.eicon-record:before {
  content: "\e051";
}
.eicon-reddit:before {
  content: "\e050";
}
.eicon-refresh:before {
  content: "\e04f";
}
.eicon-remove:before {
  content: "\e04e";
}
.eicon-remove-circle:before {
  content: "\e04d";
}
.eicon-remove-sign:before {
  content: "\e04c";
}
.eicon-repeat:before {
  content: "\e04b";
}
.eicon-repeat-alt:before {
  content: "\e04a";
}
.eicon-resize-full:before {
  content: "\e049";
}
.eicon-resize-horizontal:before {
  content: "\e048";
}
.eicon-resize-small:before {
  content: "\e047";
}
.eicon-resize-vertical:before {
  content: "\e046";
}
.eicon-retweet:before {
  content: "\e045";
}
.eicon-reverse-alt:before {
  content: "\e044";
}
.eicon-road:before {
  content: "\e043";
}
.eicon-rss:before {
  content: "\e042";
}
.eicon-screen:before {
  content: "\e041";
}
.eicon-screen-alt:before {
  content: "\e040";
}
.eicon-screenshot:before {
  content: "\e03f";
}
.eicon-search:before {
  content: "\e03e";
}
.eicon-search-alt:before {
  content: "\e03d";
}
.eicon-share:before {
  content: "\e03c";
}
.eicon-share-alt:before {
  content: "\e03b";
}
.eicon-shopping-cart:before {
  content: "\e03a";
}
.eicon-shopping-cart-sign:before {
  content: "\e039";
}
.eicon-signal:before {
  content: "\e038";
}
.eicon-skype:before {
  content: "\e037";
}
.eicon-slideshare:before {
  content: "\e036";
}
.eicon-smiley:before {
  content: "\e035";
}
.eicon-smiley-alt:before {
  content: "\e034";
}
.eicon-speaker:before {
  content: "\e033";
}
.eicon-stackoverflow:before {
  content: "\e032";
}
.eicon-star:before {
  content: "\e031";
}
.eicon-star-alt:before {
  content: "\e030";
}
.eicon-star-empty:before {
  content: "\e02f";
}
.eicon-step-backward:before {
  content: "\e02e";
}
.eicon-step-forward:before {
  content: "\e02d";
}
.eicon-stop:before {
  content: "\e02c";
}
.eicon-stop-alt:before {
  content: "\e02b";
}
.eicon-stumbleupon:before {
  content: "\e02a";
}
.eicon-tag:before {
  content: "\e029";
}
.eicon-tags:before {
  content: "\e028";
}
.eicon-tasks:before {
  content: "\e027";
}
.eicon-text-height:before {
  content: "\e026";
}
.eicon-text-width:before {
  content: "\e025";
}
.eicon-th:before {
  content: "\e024";
}
.eicon-th-large:before {
  content: "\e023";
}
.eicon-th-list:before {
  content: "\e022";
}
.eicon-thumbs-down:before {
  content: "\e021";
}
.eicon-thumbs-up:before {
  content: "\e020";
}
.eicon-time:before {
  content: "\e01f";
}
.eicon-time-alt:before {
  content: "\e01e";
}
.eicon-tint:before {
  content: "\e01d";
}
.eicon-torso:before {
  content: "\e01c";
}
.eicon-trash:before {
  content: "\e01b";
}
.eicon-trash-alt:before {
  content: "\e01a";
}
.eicon-tumblr:before {
  content: "\e019";
}
.eicon-twitter:before {
  content: "\e018";
}
.eicon-universal-access:before {
  content: "\e017";
}
.eicon-unlock:before {
  content: "\e016";
}
.eicon-unlock-alt:before {
  content: "\e015";
}
.eicon-upload:before {
  content: "\e014";
}
.eicon-user:before {
  content: "\e013";
}
.eicon-video:before {
  content: "\e012";
}
.eicon-video-alt:before {
  content: "\e011";
}
.eicon-video-chat:before {
  content: "\e010";
}
.eicon-view-mode:before {
  content: "\e00f";
}
.eicon-vimeo:before {
  content: "\e00e";
}
.eicon-volume-down:before {
  content: "\e00d";
}
.eicon-volume-off:before {
  content: "\e00c";
}
.eicon-volume-up:before {
  content: "\e00b";
}
.eicon-w3c:before {
  content: "\e00a";
}
.eicon-warning-sign:before {
  content: "\e009";
}
.eicon-website:before {
  content: "\e008";
}
.eicon-website-alt:before {
  content: "\e007";
}
.eicon-wheelchair:before {
  content: "\e006";
}
.eicon-wordpress:before {
  content: "\e005";
}
.eicon-wrench:before {
  content: "\e004";
}
.eicon-wrench-alt:before {
  content: "\e003";
}
.eicon-youtube:before {
  content: "\e002";
}
.eicon-zoom-in:before {
  content: "\e001";
}
.eicon-zoom-out:before {
  content: "\e000";
}
.eicon-vkontakte:before {
  content: "\e10e";
}
