footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

#content {
  margin-top: 20px;
  position: relative;
}

#swatches {
  position: relative;

  .swatch {
    position: absolute;
    width: 256px;
    height: 256px;
    border: 1px solid #ccc;
    list-style: none;
    text-align: center;
    @include border-radius(256px)
  }

  &.show {
    margin-top: 20px;

    .swatch {
      width: 256px;
      height: 256px;
    }
  }
}

.user {

  h4, h5 {
    margin: 0;
  }

  h5 {
    font-weight: normal;
  }

  p {

    &.bio {
      clear: both;
      margin-bottom: 0;
    }
  }

  .pull-left {

    &.avatar {
      margin-right: 15px;
    }
  }

  .stats {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
