h1#sw4tch {

  a {
    text-decoration: none;
    color: #333;
  }
}

footer {
  padding-top: 30px;
  padding-bottom: 30px;
}

#content {
  margin-top: 20px;
  position: relative;
}

#swatches {
  position: relative;

  iframe {
    border: 0 none;
  }

  .swatch-wrapper {
    overflow: hidden !important;
    position: absolute;
    width: 256px;
    height: 256px;
    text-align: center;
    border: 1px solid #ccc;
    @include border-radius(256px);

    &:hover {
      border-color: #0088cc;
    }
  }

  .swatch {
    display: block;
    list-style: none;
    text-align: center;
    width: 256px;
    height: 256px;
    @include border-radius(256px);

    &.large {
      width: 384px;
      height: 384px;
      @include border-radius(384px);
    }

    .meta {

      p {

        &.description {
          display: none;
        }
      }
    }

    .specimen {
      width: 50%;
      height: 50%;
      border: 1px dashed #ccc;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      overflow: visible;
      margin: -25% auto 0;
    }
  }

  &.new,
  &.edit {
    margin-top: 280px;
  }

  &.show {
    margin-top: 20px;
  }

  &.new,
  &.show {

    .swatch {

      .meta {

        p {

          &.description {
            display: inline;
          }
        }
      }
    }
  }
}

.user {

  h4, h5 {
    margin: 0;
  }

  h5 {
    font-weight: normal;
  }

  p {

    &.bio {
      clear: both;
      margin-bottom: 0;
    }
  }

  .pull-left {

    &.avatar {
      margin-right: 15px;
    }
  }

  .stats {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

form {

  input,
  textarea,
  #editor {
    width: 97%;
    max-width: 800px;
    min-width: 300px;
  }

  textarea {
    height: 100px;
  }

  #swatch_markup {
    visibility: hidden;
    position: absolute;
  }

  #editor {
    width: 100%;
    position: relative;
    min-height: 280px;
    font-size: 16px;
  }

  .form-actions {
    text-align: center;
    width: auto;

    button {
      margin: 0 auto;
    }
  }

  .alert {

    h4 {
      margin: 5px 0 10px;
    }

    ul {
      margin: 0 0 5px 25px;
    }
  }
}

.swatches-show {

  #editor {
    min-height: 400px;
  }
}
