#swatches {
  position: relative;
  text-align: center;

  .swatch-container {
    @include swatch_preview;

    .swatch-link {
      @include circle_link;
    }
  }

  .user-swatch {
    border: 0 none;
    width: 256px;
    height:  256px;
    @include border-radius(256px);
    overflow: hidden !important;
    margin: 20px 20px 10px;
    position: absolute;

    .user {
      position: absolute;

      .avatar,
      .names {
        float: none;
        margin: 0;
      }

      .avatar {

        img {
          @include border-radius(100px);
        }
      }

      .name {

        a {
          max-width: none;
        }
      }

      .stats {
        margin-top: 5px;
      }

      p.bio {
        line-height: 14px;
        font-size: 12px;
        width: 70%;
        margin: 0 auto;
      }
    }

    .user-link {
      @include background(linear-gradient(rgba(#fff, 0) 70%, rgba(#fff, 0.5) 80%, #fff));
      @include circle_link;

      span {
        vertical-align: inherit !important;
        text-align: left !important;
        padding: 20px 20px !important;
      }
    }
  }
}

.page-header {

  .btn-toolbar {
    text-align: right;
    margin-top: 0;
    width: 29%;
    line-height: 30px;
    float: right;
  }
}

#swatch_form {

  .editor-column {
    margin-left: 0;
  }

  .preview-column {

    .control-group {
      text-align: left;
    }
  }

  form {
    clear: both;

    label {
      font-weight: bold;
    }

    input,
    textarea,
    #editor {
      width: 97%;
      min-width: 170px;
    }

    .editor-wrapper {
      margin-bottom: 20px;
    }

    small.help-text {
      font-weight: normal;
      padding-left: 10px;
    }

    textarea {
      height: 60px;
    }

    #swatch_css {
      visibility: hidden;
      position: absolute;
    }

    #swatch_scss {
      visibility: hidden;
      position: absolute;
    }

    #swatch_stylus {
      visibility: hidden;
      position: absolute;
    }

    #editor {
      width: 100%;
      position: relative;
      min-height: 403px;
      font-size: 14px;
    }

    .form-actions {
      text-align: center;
      width: auto;
      padding: 16px 20px 20px;

      .public-actions {
        margin-bottom: 15px;
        line-height: 34px;
      }

      .owner-actions {

      }

      button {
        margin: 0 auto;
      }
    }

    .gist-button,
    .swatchbook-button {
      text-align: right;
      position: relative;
      top: 2px;
    }

    .swatchbook-button {

      .dropdown-menu {
        width: 250px;
        left: -116px;
        max-height: 256px;
        overflow: auto;

        input[type=text] {
          display: none;
        }

        .btn {
          display: none;
        }

        &.active {
          width: 280px;
          left: -146px;

          .new-swatchbook {

            input[type=text] {
              display: inline-block;
              min-width: 0;
              width: 60%;
              margin: 14px 5px 9px 14px;
            }

            i {
              display: inline-block;
            }

            .btn {
              display: inline-block;
              margin: 4px 0 0;
              padding: 3px 21px 4px;
              line-height: inherit;

              i {
                display: none;
              }
            }
          }
        }
      }

      li {
        text-align: left;
        position: relative;

        > a {
          padding-top: 6px;
          padding-bottom: 6px;
        }

        &.active {

          .ajax-loader {
            display: block;
          }
        }

        &.divider {
          margin: 3px 1px;
        }
      }
    }

    .gist-button {

      .dropdown-menu {
        left: -80px;
      }

      li {
        text-align: left;
        position: relative;

        > a {
          padding-top: 6px;
          padding-bottom: 6px;
        }

        &.public-setting {

          .btn-group {
            display: block;
          }

          > a {
            color: white;
            text-decoration: none;
            @include background(linear-gradient(bottom, #0088cc, #0077b3));
          }
        }

        .btn-group {
          display: none;
          position: absolute;
          right: 10px;
          top: 5px;
        }
      }
    }

    .gist-url {
      display: none;
      margin-top: 13px;
      @include border-radius(3px);
      padding: 2px 4px;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
      word-wrap: break-word;
      font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
      font-size: 12px;
      line-height: 16px;

      a {
        color: #d14;
        font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
        font-size: 12px;
      }
    }

    .alert {

      h4 {
        margin: 5px 0 10px;
      }

      ul {
        margin: 0 0 5px 25px;
      }
    }

    .control-group {

      &.tags {

        > .controls {
          width: 100%;
          min-width: 170px;

          input {
            min-width: 0;
          }
        }

        #swatch_tag_list_tagsinput {
          overflow: hidden;
          background-color: white;
          border: 1px solid #cccccc;
          padding: 4px 6px 2px;
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 20px;
          color: #555555;
          vertical-align: middle;
          @include transition(border linear 0.2s, box-shadow linear 0.2s);
          @include border-radius(4px);

          #swatch_tag_list_tag {
            width: auto !important;
          }

          span.tag {
            @include tag_style;
          }
        }
      }
    }
  }
}

.swatches-show,
.swatches-new,
.swatches-create,
.swatches-update,
.swatches-destroy,
.swatches-edit {

  #editor {
    min-height: 403px;
  }

  #swatches {

    .swatch-container {
      margin: 20px auto 40px;
      position: relative;
    }
  }
}

.swatches-show {

  #swatches {
    margin-bottom: 25px;
  }
}

p {

  &.description {
    border-left: 20px solid #ddd;
    padding-left: 15px;
  }
}

.tags {
  margin-top: 20px;

  strong {
    margin-right: 10px;
  }

  .tag {
    @include tag_style;
    line-height: 28px;
    display: inline-block;
  }
}

.pagination {
  text-align: center;
}
