ul.nav.nav-tabs {

  li.active {

    a {
      font-weight: bold;
    }
  }
}

#swatchbook_form {

  textarea {
    height: 145px;
  }
}

#swatchbooks {

  .swatchbook-container {
    overflow: hidden;
    position: relative;
    max-height: 290px;
    overflow: hidden;

    > h3 {
      float: left;
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      z-index: 100;
      padding: 10px 20px;
      max-width: 102px;
      top: 0;
      left: 0;
      text-align: left;

      small {
        font-size: 12px;
        display: block;

        span {
          color: #ccc;
        }
      }

      a {
        @include blue_link;
      }
    }

    .swatchbook-link {
      float: left;
      text-align: left;
      width: 202px;
      margin-right: 90px;

      h3 {
        line-height: 26px;

        a {
          @include blue_link;
          font-weight: normal;
          text-decoration: none;
        }
      }

      .badge {

        a {
          @include blue_link;
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .swatch-container {
      @include swatch_preview;
      margin: 20px 20px 10px -130px;
      position: relative;
      float: left;
      top: -64px;
      @include transform(scale(0.5));
    }
  }

  &.index {

    .swatchbook-container {
      max-height: 175px;
    }
  }
}

body.swatchbooks-show {

  #swatches {
    clear: both;
  }
}
