.swatchbook-container
  .swatchbook-link
    %h3= link_to swatchbook.name, swatchbook_path(swatchbook)
    %span.badge.badge-inverse= pluralize(swatchbook.swatches.try(:count), 'swatch')
    %br
    %span.badge.badge-inverse= link_to swatchbook.user.try(:name), user_path(swatchbook.user)
  - swatchbook.swatches.first(12).each do |swatch|
    = render 'swatches/swatch', swatch: swatch
